<!DOCTYPE html>
<html lang="en">
    <div class="grid-container"></div>
<head>
    <title>Operation Destroyed Pony</title>
</head>
<link rel="stylesheet" href="style.css"
<body>
    <div>
        <header>
            Operation Destroyed Pony
        </header>
        <aside>
            Shopping Categories
        </aside>
        <main>
            <ul>
                <li>Product 1</li>
                <li>Product 2</li>
                <li>Product 3</li>
                <li>Product 4</li>
                <li>Product 5</li>
            </ul>
        </main>
        <footer>
            &copy; 2021 Operation Destroyed Pony
        </footer>
    </div>
</body>
</html>

